<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-custom" style="width: 280px">
    <ul class="nav nav-pills flex-column mb-auto">
        <%= item_menu(dashboard_home_index_path , 'HOME')%>
        <%= item_menu(dashboard_categorias_path , 'CATEGORIAS')%>
        <%= item_menu(dashboard_produtos_path , 'PRODUTOS')%>
    </ul>
    <hr>

  </div>