<div class="col-md-4">
          <div class="card">
            <img class="item rounded mx-auto d-block" src="https://i.pinimg.com/originals/4a/38/7b/4a387bda853bca3782d73234c786a150.png" alt="Card image cap" style="width:80%;height:250px">
            
            <div class="card-body">
              <div class="caption">
                <div class="caption-top">
                  <h5 class="float-right badge-success p-1">
                    <%= number_to_currency(produto.preco, :unit => 'R$ ',:separator => ',', :delimiter => '.')%>
                  </h5>
                  <h5>
                    <a href="#"> <%= produto.nome%></a>
                  </h5>
                </div>
                <p><%#= produto.descricao%></p>
                <a href="--" class="btn btn-primary" style="float: right;">COMPRAR</a>
              </div>
            </div>
          </div>
        </div>